[CONFIG]
#whisper/wav2vec/custom
model_type=custom
access_token=access_token
base_url=https://cloud.webitel.ua/api
device=cuda
w2v_bert=/mnt/md1/trained_stt_models/w2v-bert-2.0-ukrainian/checkpoint-30000
w2v_tokenizer=/home/nazar/Demo_Chatbot_retrieval/experiments/train_w2v_bert
whisper=openai/whisper-medium
last_date=0
hf_token=none
languages=["uk","ru"]
variable_name=none 
min_talk_duration=5
