[CONFIG]
model_type=custom
access_token=none
base_url=https://turbosto.webitel.ua/api
device=cpu
w2v_bert=/mnt/md1/trained_stt_models/w2v-bert-2.0-ukrainian/checkpoint-30000
w2v_tokenizer=/home/nazar/Demo_Chatbot_retrieval/experiments/train_w2v_bert
whisper=openai/whisper-medium
last_date=1730411000000
hf_token=none
languages=["uk","ru"]
variable_name=none 
min_talk_duration=5
punctuation_api=none

